body{
  height: 530vw;
 background: linear-gradient(141deg, red 0%, #06f98b 51%, #2cb5e8 75%);
  color:White;
  font-family: Helvetica;
  text-align: justify;
  margin: 4vw
}

h1{
  font-weight: 500;
  font-size: 2.5vw;
  text-align: left;
  font-family: Helvetica bold;
  float: left;
width: 50%;

}
h4{
  font-weight: 10;
  font-size: 1vw;
  text-align: left;
  font-family: Helvetica light;
  width: 50%;
}

.introduction{
text-align: left;
font-family: Helvetica light;
font-size: 1vw;
width: 22%;
}

.japan{
font-weight: 500;
font-size: 14vw;
text-align: right;
font-family: Helvetica bold;
float: left;
width: 50%;
z-index: -1;
}

#japan1{
  position: absolute;
  height: 40vw;
  top: 26.5vw;
  left: 26vw;
  z-index: -1;
}

#japan2{
  position: absolute;
  height: 30vw;
  top: 40vw;
  left: 66.5vw;
  z-index: -1;
}

#japan3{
  position: absolute;
  height: 61vw;
  top: 67vw;
  left: 5vw;
  z-index: -1;
}

#japan4{
  position: absolute;
  height: 50vw;
  top: 129vw;
  left: 46vw;
  z-index: -1;
}

.vietnam{
  font-weight: 500;
  font-size: 14vw;
  text-align: right;
  font-family: Helvetica bold;
  float: right;
  width: 0%;
  z-index: -1;
}

#vietnam4{
  position: absolute;
  height: 80vw;
  top: 180vw;
  left: 5vw;
  z-index: -1;
}
#vietnam2{
  position: absolute;
  height: 30vw;
  top: 204vw;
  left: 66vw;
  z-index: -1;
}
#vietnam1{
  position: absolute;
  height: 25vw;
  top: 235vw;
  left: 71vw;
  z-index: -1;
}
#vietnam3{
  position: absolute;
  height: 50vw;
  top: 261vw;
  left: 40vw;
  z-index: -1;
}

.belgium{
font-weight: 500;
font-size: 14vw;
text-align: right;
font-family: Helvetica bold;
float: left;
width: 50%;
z-index: -1;
}

#belgium1{
  position: absolute;
  height: 70vw;
  top: 312vw;
  left: 41vw;
  z-index: -1;
}

#belgium2{
  position: absolute;
  height: 45vw;
  top: 350vw;
  left: 5vw;
  z-index: -1;
}

#belgium3{
  position: absolute;
  height: 50vw;
  top: 383vw;
  left: 58.5vw;
  z-index: -1;
}

#belgium4{
  position: absolute;
  height: 40vw;
  top: 396vw;
  left: 26.5vw;
  z-index: -1;
}

#belgium5{
  position: absolute;
  height: 80vw;
  top: 437vw;
  left: 5vw;
  z-index: -1;
}
