body {
  position: absolute;
  color:black;
  background-color:white;
  text-shadow: 0px 0px 0px white;
  border: 5px solid white;
  border-color: transparent;
  width: 1580px;
  left: 10px;
  top: 10px;
  font-size: 1vw;
  font-family: times ;
  right: -200px;
  margin-right: auto;
  z-index: 1;
}
{
box-sizing: border-box;
}
.left {
  width: 10%;
}

.right {
  width: 75%;
}

.row {
  display: flex;

}

.column {
  width: 20%;
}

.column1 {
  text-align: justify;
  padding-top: 0vw;
  padding-left: 2vw;
  transition: 0.5s ease all;
  z-index: 3;
}
.column1:hover{
  width: 40%;
  text-align: left;
}

.first {
  text-transform: uppercase;
  font-size: 28vw;
  transform: rotate(90deg);
  padding-top: 10vw;
  padding-left: 29vw;
  padding-bottom: 0vw;
  margin: 0;
}
.first:hover {
  color: white;
  font-style: bold;
}


.column2 {
  text-align: justify;
  padding-top:43vw;
  padding-left: 2vw;
    transition: 0.5s ease all;
}
.column2:hover{
  width: 80%;
  text-align: left;
}

.column3 {
  text-align: justify;
  padding-top:115vw;
  padding-left: 2vw;
    transition: 0.5s ease all;
}
.column3:hover{
  width: 80%;
  text-align: left;
}

.column4 {
  text-align: justify;
  padding-top:169vw;
  padding-left: 2vw;
    transition: 0.5s ease all;
}
.column4:hover{
  width: 80%;
  text-align: left;
}

.column5 {
  text-align: justify;
  padding-top:209vw;
  padding-left: 2vw;
  position: relative;
    transition: 0.5s ease all;
  z-index: 1;
}
.column5:hover{
  width: 80%;
  text-align: left;
}

.second {
  text-transform: uppercase;
  font-size: 15vw;
  transform: rotate(-90deg);
  padding-top: 20vw;
  padding-left: 10vh;
  padding-right: 35vw;
  padding-bottom: 10vw;
  margin: 0;
  position: relative;
  z-index: -1;
}

.third {
  text-transform: uppercase;
  font-size: 8vw;
  padding-top: 30vw;
  padding-left: 50vh;
  padding-right: 5vw;
  padding-bottom: 1vw;
  margin: 0;
  position: absolute;

  z-index: 2;
}

.second:hover{
  color: white;
}

.third:hover{
  color: white;
}


@media only screen and (max-width: 2300px) {
  body{
    background-color: #86dafc;
    color: white;
  }
}
@media only screen and (max-width: 1900px) {
  body{
    background-color: #ba97db;
    color: black;
  }
}
@media only screen and (max-width: 1500px) {
  body{
    background-color: #db95bb;
    color: white;
  }
}
@media only screen and (max-width: 1100px) {
  body{
    background-color: #fca2a2;
    color: black;
  }
}
@media only screen and (max-width: 700px) {
  body{
    background-color: #fcbb97;
    color: white;
  }
}

::-moz-selection { /* Code for Firefox */
  color: #38ff00;
  background: #840338;
}

::selection {
  color: #38ff00;
  background: #840338;
}
