
body {
  background-color:  #FF7272;
  font-family: monospace;
  padding: 50px;
}

h1, h2{
  font-weight: normal;
}

h1{
  font-size: 10vw;
  margin-bottom: 0;
}

h2{
  font-size: 4vw;
  margin-top: 10px;
}

.container{
  max-width: 900px;
  margin: 0 auto;
  margin: 10px 20px;
}

<img src="assets/peony.jpeg" alt="A peony">

img {
  max-width: 100%;
  margin: auto;
}
/* If the browser window is smaller than 650px, the background color will change to black and the text to white: */
@media (max-width: 650px) {
  body {
    background-color: black;
    color:  white;
  }
}
h2{
  font-size: 22px;
}
p{
  font-size: 22px;
}
/* If the browser window is shorter than 650px, the background will turn orange */


@media (max-height: 650px) {
  body {
    background-color: orange;
  }

/* The body's font-size is smaller by default */
body {
  font-size: 16px;
}

/* Tablet breakpoint */
@media (min-width: 768px) {
  body {
    font-size: 40px;
  }
}

/* Desktop breakpoint */
@media (min-width: 992px) {
  body {
    font-size: 50px;
  }
}

/* Wide screen breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 60px;
  }
